<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
    <h2 th:text="'List of All Owners'">List of All Owners</h2>

    <table class="table table-striped">
        <tr>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last name</th>
        </tr>
        <tr th:each="owner : ${owners}">
            <th th:text="${owner.getFirstName()}">First Name</th>
            <th th:text="${owner.getLastName()}">Last name</th>
        </tr>
    </table>
</body>
</html>